body {
	font-family: sans-serif;
}

.container {
	width: 900px;
	margin: 20px auto;
}

h1 small {
	color: #666;
	font-size: 60%;
	font-weight: bolder;
}

.idea-box {
	display: block;
	margin: 100px auto;

	width: 820px;
	
	font-size: 150%;
	text-align: center;

	line-height: 40px;
}

.idea-title {
	font-weight: bold;
	width: 290px;
	display: inline-block;
	text-align: right;
}

.idea-body {
	font-weight: normal;
	width: 520px;
	display: inline-block;

}

.btn-submit {
	display: block;
	width: 200px;
	height: 40px;
	margin: 10px auto;
}